<table>
{% for field in form %}
  <tr class="row{% if field.field.required %} row-required{% endif %}{% if field.errors or form.non_field_errors %} row-errors{% endif %}">
    <td>
        <label for="{{ field.auto_id }}">{{ field.label }}:</label>
    </td>
    <td>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    </td>
    <td>
        {{ field }}
        <span class="info{% if field.errors %} error{% else %}{% endif %}">
          {{ field.errors|join:" " }}</span>
        <span class="help-text">{{ field.help_text }}</span>
    </td>
  </tr>
{% endfor %}
</table>

{% comment %}

{% for field in form %}
  <p class="row{% if field.field.required %} row-required{% endif %}{% if field.errors or form.non_field_errors %} row-errors{% endif %}">
    <label for="{{ field.auto_id }}">{{ field.label }}</label>
    {{ field }}
    <span class="info{% if field.errors %} error{% else %}{% endif %}">
      {{ field.errors|join:" " }}</span>
    <span class="help-text">{{ field.help_text }}</span>
  </p>
{% endfor %}
{% endcomment %}

