{% extends  "reports_base.html" %}
 

{% block content %}
    <div class="container">
        <div class="page-header">
          <div class="row">
            <div class="col-lg-12">
                    <h1>{{ acao }} Relatório</h1>
                    <!--<h4>Sessão: {{ elemento.nome }}</h4>-->
            </div>
          </div>
        </div>

        <form id="grafico" method="POST" action="#">
        {% csrf_token %}

        <div class="row">
          <div class="col-lg-12"> 
                <h2>Sessão</h2>
                <p>Seleciona uma sessão para a qual você quer gerar relatórios.</p>
                {{ form.sessao }}
          </div>
        </div>
        <!-- Carrega Jquery checkbox fields  -->
        <div id='ResponseDiv'>
        </div>
        </form>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

<script type="text/javascript">
    $(function(){
      // bind change event to select
      $('#id_sessao').on('change', function () {
            var url = $(this).val(); // get selected value
            $.ajax({
            url : '/app_reports/get_element_for_report/' + url,
            //data:{id: $(this).attr('id')},
            type: 'GET',
            success: function(data){
                //console.log(data)
                $('#ResponseDiv').html(data);
            }
        });
      });
    });
</script>

{% endblock %}

