


{% block content %}

    <!-- Para o sortable -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.1/themes/smoothness/jquery-ui.css">
  <style>
    #select_fields1, #select_fields2, #group_fields1, #group_fields2, #filter_fields1, #filter_fields2, #config_chart_fields1, #config_chart_fields2 { list-style-type: none; margin: 0; padding: 0; float: left; margin-right: 1px; background: #eee; padding: 2px; width: 100%; margin-bottom:10px;}

    #select_fields1 li, #select_fields2 li, #group_fields1 li, #group_fields2 li, #filter_fields1 li, #filter_fields2 li, #config_chart_fields1 li, #config_chart_fields2 li { margin: 5px; padding: 3px; padding-left: 10px; padding-right: 10px; font-size: 1.0em; float: left; display: inline;}
  </style>


        <div class="row" style="padding-top:30px">
          <div class="col-lg-12"> 
                <h2> Título do relatorio </h2>
                <div style="color:red; padding-bottom: 0px; padding-top: 0px;"> * campo obrigatório</div>
                <p>Dê um nome para identificar o relatório.</p>
                {{ form.title }}
                <strong style="color:red">{{ form.title.errors.as_text }}</strong>


          </div>
        </div>

        <div class="row" style="padding-top:30px">
          <div class="col-lg-12"> 
                <h2>  Campos do relatorio </h2>
                <div style="color:red; padding-bottom: 15px; padding-top: 0px;"> * campo obrigatório</div>             
                <p>Selecione os campos que irão compor o relatório e ordene na ordem que as colunas serão apresentadas. São necessários dois campos no mínimo para a criação de um relatório.</p>


                <ul id="select_fields1" class="droptrue">
                    {% for f in fields %}
                    <li id="select_fields_({{ f.0 }}, {{ f.1 }})" class="ui-state-default">{{ f.1 }}</li>
                    {% endfor %}
                </ul>  
                <br>
                <strong style="color:red">{{ form.select_fields.errors.as_text }}</strong>
                <ul id="select_fields2" class="droptrue">

                </ul>

          </div>
        </div>

        <!--
        Os fields sao inicializados como hidden. 
        No form, somente o model selecionado altera o widget dos respectivos fields 
        para checkbox select multiple.
        -->
        <div class="row" style="padding-top:30px">
          <div class="col-lg-4"> 
                <h2>  Agrupar resultados </h2>
                <div style="color:red; padding-bottom: 0px; padding-top: 0px;"> * campo obrigatório</div>
                <p>Selecione os campos agrupáveis no relatório.</p>
                {{ form.group_fields }}
                <strong style="color:red">{{ form.group_fields.errors.as_text }}</strong>

          </div>
          <div class="col-lg-4"> 
                <h2>  Filtrar resultados </h2>
                <p>Selecione os campos filtráveis no relatório.</p>
                {{ form.filter_fields }}               
                <strong style="color:red">{{ form.filter_fields.errors.as_text }}</strong>

          </div>
          <div class="col-lg-4"> 
                <h2>  Configurar gráfico </h2>
                <p>Selecione os campos apresentáveis nos gráficos.</p>
                {{ form.config_chart_fields }}             
                <strong style="color:red">{{ form.config_chart_fields.errors.as_text }}</strong>
            
          </div>
        </div> 


        <div class="row" style="padding-top:30px">
          <div class="col-lg-8"> 
                <h2>  Campos de somatória </h2>
                <strong style="color:red">{{ ts_fs.errors.as_text }}</strong>
                <p>
                <table class="table table-striped table-hover ">
                  <thead>
                    <th>Campo</th><th>Grupo/Relatório</th><th>Operação</th>
                  </thead>
                      {{ totalization_fields.management_form }}
                      {% for form in totalization_fields %}
                  <tr>
                      {{ form.id }}
                          <td>{{ form.totalization_field }}</td>
                          <td>{{ form.group_or_report }}</td>
                          <td>{{ form.operation }}</td>            
                  </tr>
                      {% endfor %}
                </table>
              </p>
          </div>  
        </div>

      </div> 


        <div class="row" style="padding-top:30px">
          <div class="col-lg-12" style="text-align:right"> 
                <input type='hidden' name='select_fields' id='select_fields'>
                <input type='hidden' name='ctype_id' value="{{ ctype }}">
                <a class = 'btn btn-warning' href = "javascript:history.back(-1);">
                    Voltar
                </a>
                <button type='submit' class="btn btn-success">Gravar</button>
          </div>
        </div>

    <script>
      $(function() {
        $( "ul.droptrue" ).sortable({
          connectWith: "ul"
        });
     
        $( "ul.dropfalse" ).sortable({
          connectWith: "ul",
          dropOnEmpty: false
        });
     
        $( "#select_fields1, #select_fields2, #group_fields1, #group_fields2, #filter_fields1, #filter_fields2, #config_chart_fields1, #config_chart_fields2" ).disableSelection();
      });
    </script>
    <script>
    // $( "#grafico" ).submit(function(){
    //   console.log('Select Fields:  ' + $( "#select_fields2" ).sortable("serialize"))
    //     console.log('Select Fields:  ' + $( "#select_fields2" ).sortable("serialize").toString())
    //     $('#select_fields').val($( "#select_fields2" ).sortable("serialize"));
    //     //return false;
    // }); 
    </script>   

<script>
    $( "#grafico" ).submit(function( event ) {  

      console.log('Select Fields:  ' + $( "#select_fields2" ).sortable("serialize"))
      console.log('Select Fields:  ' + $( "#select_fields2" ).sortable("serialize").toString())
      $('#select_fields').val($( "#select_fields2" ).sortable("serialize"));

      // Stop form from submitting normally
      event.preventDefault();

      var data = $('form').serialize();
      var url = '/app_reports/add/'
      var posting = $.post(url, data);
     
      posting.done(function( data ) {
        $( "#ResponseDiv" ).empty().append(  $( data ) );
      });
    });
</script>


{% endblock %}


