{% extends  "base_painel_admin.html" %}

{% block app.scripts %}

    <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.1.min.js"></script>

    <script src="https://code.jquery.com/ui/1.11.1/jquery-ui.min.js" type="text/javascript"></script>

    
{% endblock %}